/*общие стили*/
body {
	margin: 0px;
	padding: 0px;
	
	font-family: Arial, Helvetica, sans-serif;
	}
	/*стили контейнера, содержащего меню-список*/
	div.menu {
		background: #000;
			
		position: relative;
		display: block;
		float: none;
			margin: 0px;
			padding: 0px;
		width: 100%;
		height: 50px;
		
		z-index: 2000;
		}
		/*стили списка*/
		div.menu ul.top_menu {
			position: relative;
			float: left;
			display: block;
				margin: 0px;
				padding: 0px;
			left: 20px;
			right: 20px;
			width: calc(100% - 40px);
			height: 50px;
			}
			/*стили элементов списка*/
			 ul.top_menu li {
				 position: inherit;
				 display: block;
				 float: left;
				 	margin: 0px;
					padding-top: 14px;
					padding-left: 20px;
					padding-right: 20px;
				width: auto;
				height: 45px;
				text-align: center;
				/*задаём цвет границы, чтобы функция анимации могла обнаружить изменяемый элемент*/
				border-color: #000;
				
				cursor: pointer;
				}
				/*Обтекание пунктов меню справа*/
				ul.top_menu li.left_top_menu { float: right; }
				 /*Вывод границы над пунктом меню при наведении(для всез 3-х вариантов)*/
				ul.top_menu  li.pos:hover     { border-top: 5px solid #09F; padding-top: 9px; }
				ul.top_menu  li.signin:hover  { border-top: 5px solid #F60; padding-top: 9px; }
				ul.top_menu  li.join:hover { border-top: 5px solid #6C6; padding-top: 9px; }
				 /*индивидуальные классы для пунктов меню*/
				 .pos, .signin, .join  {  transition: border-color 0.4s; }
				 /*стили стрелочки сбоку "входа"*/
				 ul.top_menu li img {
					 position: relative;
					 left: 6px;
					 top: -2px;
					 opacity: 0.8;
					 
					 transition: opacity 0.4s;
					 }
				 ul.top_menu li:hover img { opacity: 1; }
				 /*стили ссылки, встроенной  в список*/
				 ul.top_menu li a {
					 color: #FFF;
					 text-decoration: none;
					 text-transform: uppercase;
					 font-size: 20px;
					 /*затемнение не активных пунктов меню*/
					 opacity: 0.8;
					 /*анимация осветления*/
					 transition: opacity 0.4s;
					 }
				   /*осветвление ссылки(текста) при наведении*/
				  ul.top_menu li.pos:hover a, ul.top_menu li.signin:hover a, ul.top_menu li.join:hover a { opacity: 1; }
				   /*создание класса active, применяемого  к элементу списка, если он находится  в активном состоянии */
				  ul.top_menu li.active_pos     { padding-top: 9px; border-top: 5px solid #09F; }
				  ul.top_menu li.active_signin  { padding-top: 9px; border-top: 5px solid #F60; }
				  ul.top_menu li.active_join { padding-top: 9px; border-top: 5px solid #6C6; }
				  ul.top_menu li.active_pos a, ul.top_menu li.active_signin a, ul.top_menu li.active_join a { opacity: 1; }
	/*стили второго уровня навигации*/
	div.navigation {
		background:  #CCC;
		position: relative;
		top: 0px;
		width: 100%;
		height: 40px;
		
		box-shadow: 0 3px 5px rgba(0,0,0,0.4); /* Параметры тени */
		z-index: 1000; /*поле навигации не должно уходить под поле контент*/
		
		transition: all 0.5s;
		}
		/*стили для иконок  и изображений*/
		.logo {
			position: relative;
			float: left;
				margin-right: 50px;
			}
		.icons {
			position:relative;
			float: right;
			top: 2px;
			right: 10px;
			width: 35px;
			height: 35px;
			
			cursor: pointer;
			}
			/*панель навигации второго уровня*/
		ul.top_navigation {
			position: relative;
			float: left;
				margin: 0px;
				padding: 0px;
			left: 100px;
			width:  auto;
			height: 50px;
			}
		ul.top_navigation li {
			position: relative;
			float: left;
			display: block;
				padding: 0px;
				margin: 0px;
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 12px;
			width: auto;
			height: 50px;
			
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			}
		ul.top_navigation li a {
			color: #444;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 15px;
			text-decoration: none;
			
			transition: color 0.3s;
			}
		ul.top_navigation li:hover a { color: #399; }
		/*выпадающая панель регистрации*/
	div.registration_signin {
		background: #CCC;
		
		position: relative;
		float: left;
		display: block;
			margin: 0px;
			padding: 0px;
			padding-top: 4px;
		top: -115px;
		width: 100%;
		height: 95px;
		
		box-shadow: 0 3px 5px rgba(0,0,0,0.4);
		z-index: 999;
		transition: all 0.6s;
		}
		/*стилизация текста*/
		p.form_header, p.form_text {
			position: relative;
			float: left;
			display: block;
				margin: 0px;
				padding: 0px;
				padding-top: 5px;
				padding-left: 20px;
				padding-right: 10px;
			}
		p.form_text {
			float: none;
			margin: 0px;
			padding: 0px;
			font-size: 11px;
			}
			/*стилизация блоков регистрации*/
		div.registration_block, div.signin_block {
			position: relative;
			float: left;
				margin-top: 10px;
				margin-right: 25px;
				margin-left: 25px;
			}
			/*стилизация блока-линии*/
		div.line {
			background: #888;
			
			position: relative;
			float: left;
				margin: 0px;
				padding: 0px;
				top: 7px;
			width: 1px;
			height: 82px;
			}
			/**/
		img.soc_icon {
			position: relative;
			top: 23px;
			left: -10px;
				margin-left: 5px;
				margin-right: 5px;
			width: 30px;
			
			cursor: pointer;
			}
			/*блок контента(наполнения)*/
	div.content {
		position: relative;
			margin: 0px;
			padding: 0px;
		width: 100%;
		height: 700px;
		}		 