@model Organaizer.Models.IndexData

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logined</title>
</head>
<body>
    <div>
        @{
             @Html.TextBox("123", (object)"Hello, " + Session["Login"].ToString() + "!")
        }
    </div>
</body>
</html>
